.app {
	height: 100vh;
	display: grid;
	grid-template-rows: 3fr 2fr;
	grid-template-columns: 2fr 7fr;
	grid-template-areas:
		'filters products'
		'addProduct addProduct';
}

.filters {
	grid-area: filters;
}

.products {
	grid-area: products;
}

.addProduct {
	grid-area: addProduct;
}
